[submodule "blog/themes/anatole"]
	path = source/themes/anatole
	url = https://github.com/lxndrblz/anatole
[submodule "source/themes/beautifulhugo"]
	path = source/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
